<header>
  <div class="wrapper-header">
    <nav>
      <ul class="nav-left">
        <li><a href="">Kênh người bán</a></li>
        <li><a href="">Trở thành người bán Shopee</a></li>
        <li><a href="">Tải ứng dụng</a></li>
        <li>
          <a href="">Kết nối</a
          ><span class="icon">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
          </span>
        </li>
      </ul>
      <ul class="nav-right">
        <li>
          <span class="icon"><i class="fa-regular fa-bell"></i></span>
          <span>Thông báo</span>
        </li>
        <li>
          <span class="icon"><i class="fa-solid fa-circle-info"></i></span>
          <span>Hỗ trợ</span>
        </li>
        <li>
          <span>Đăng ký</span>
        </li>
        <li>
          <span>Đăng nhập</span>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header">
    <div class="logo-header">
      <a href="/">
        <img src="../../../assets/logo-shopee.png" alt="" />
        <span>Shopee</span>
      </a>
    </div>
    <div class="header-search">
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Đăng ký và nhận voucher bạn mới đến 70k!"
      />
      <span>
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </div>
    <div class="carts">
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </div>
</header>
