<header>
  <nav>
    <div class="logo-login">
      <img src="../../../assets/Shopee.svg.png" alt="logo-login" />
      <div class="title-login">Đăng nhập</div>
    </div>
    <div class="content-right">
      <a href="#">Bạn cần giúp đỡ?</a>
    </div>
  </nav>
</header>
<main>
  <div class="main-content">
    <div class="form">
      <div class="form-login">
        <div class="form-title">Đăng nhập</div>
        <div class="group-input">
          <input
            type="text"
            name="phone"
            id="phone"
            placeholder="Số điện thoại"
          />
        </div>
        <div class="group-input">
          <input type="button" name="submit" id="submit" value="TIẾP TỤC" />
        </div>

        <span class="or">HOẶC</span>

        <div class="group-input">
          <input
            type="button"
            name="google"
            id="google"
            value="Đăng nhập với google"
          />
        </div>

        <div class="text-content">
          Bằng việc đăng kí, bạn đã đồng ý với Shopee về
          <a href="https://help.shopee.vn/portal/article/77243"
            >Điều khoản dịch vụ</a
          >
          &
          <a href="https://help.shopee.vn/portal/article/77244"
            >Chính sách bảo mật</a
          >
        </div>

        <div class="toggle-login">
          Bạn chưa có tài khoản? <span>Đăng ký</span>
        </div>
      </div>
    </div>
  </div>
</main>
