$primary-color: #ee4d2d;
$primary-gradient: linear-gradient(#ee4d2d, #ff7337);
$secondary-blue: #0046ab;
$secondary-yellow: #eda500;
$secondary-green: #26aa99;
$error: #ee2c4a;
$text-primary: rgba(0, 0, 0, 0.87);
$text-link: #0088ff;

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
