<div class="wrapper-banner-home">
  <div class="container">
    <div class="banner-home">
      <div class="banner">
        <a href="#">
          <img
            src="https://i.pinimg.com/236x/67/2d/b4/672db4d8dff78b69c926788c0863cad2.jpg"
            alt="banner"
          />
        </a>
      </div>
      <div class="side-cover">
        <a href="#">
          <img
            src="https://i.pinimg.com/236x/67/2d/b4/672db4d8dff78b69c926788c0863cad2.jpg"
            alt="banner"
          />
        </a>
        <a href="#">
          <img
            src="https://i.pinimg.com/236x/67/2d/b4/672db4d8dff78b69c926788c0863cad2.jpg"
            alt="banner"
          />
        </a>
      </div>
    </div>
    <div class="categories-header">
      <div class="category"></div>
    </div>
  </div>
</div>
